{% extends "base.html" %}
{% load static %}
{% load gravatar %}

{% block title %} Competition {% endblock %}

{% block breadcrumbs %}
  <li>
    <i class="ace-icon fa fa-home home-icon"></i>
    <a href="{% url 'home-page' %}">Home</a>
  </li>
  <li>
    <span>Trainers</span>
  </li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      {% for trainer in trainers %}
        <tr class="detail-row">
          <td colspan="8">
            <div class="table-detail">
              <div class="row">
                <div class="col-xs-12 col-sm-2">
                  <div class="text-center">
                    <img class="thumbnail inline no-margin-bottom" style="width: 150px; height: 150px" src="{{ employee.email|gravatar_url }}"/>
                    <br/>
                    <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                      <div class="inline position-relative">
                        <a class="user-title-label" href="#">
                          <i class="ace-icon fa fa-circle light-green"></i>
                          <span class="white">{{ trainer.name }}</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-10">
                  <div class="space visible-xs"></div>

                  <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                      <div class="profile-info-name"> Name</div>

                      <div class="profile-info-value">
                        <span>{{ trainer.name }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                      <div class="profile-info-name"> About</div>

                      <div class="profile-info-value">
                        <span>{{ trainer.description }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                      <div class="profile-info-name"> Sport category</div>

                      <div class="profile-info-value">
                        <span>{{ trainer.sport_category }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                      <div class="profile-info-name"> Experience</div>

                      <div class="profile-info-value">
                        <span>{{ trainer.experience }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </div><!-- /.span -->
  </div><!-- /.row -->
{% endblock content %}
