.leftimg {
    float: left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}

.rightimg {
    float: right; /* Выравнивание по правому краю  */
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
}
.training-table tr {
    height: 120px;
    text-align: center
}
.training-table td.training-elem{
    width:100px
}
.training-table td.table-day {
    width: 50px
}
