{% extends "base.html" %}
{% load static %}

{% block title %} Competitions {% endblock %}

{% block breadcrumbs %}
  <li>
    <i class="ace-icon fa fa-home home-icon"></i>
    <a href="{% url 'home-page' %}">Home</a>
  </li>
  <li>
    <span>Competitions</span>
  </li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <table id="simple-table" class="table  table-bordered table-hover">
        <thead>
        <tr>
          <th>Details</th>
          <th>Title</th>
          <th>Time</th>
          <th>Place</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for competition in competitions %}
          <tr>
            <td class="center">
              <div class="action-buttons">
                <a href="#" class="green bigger-140 show-details-btn" title="Show Details">
                  <i class="ace-icon fa fa-angle-double-down"></i>
                  <span class="sr-only">Details</span>
                </a>
              </div>
            </td>
            <td>
              <h5>{{ competition.title }}</h5>
            </td>
            <td><h5>{{ competition.date }} {{ competition.time }}</h5></td>
            <td><h5>{{ competition.place }}</h5></td>
            <td>
              <a href="{% url 'competition:member_list' competition.id %}" class="  btn-xs btn btn-default">
                <h6>Members list</h6>
              </a>
            </td>
            <td>
              <a href="{% url 'competition:create-competition-member' competition.id %}" class="  btn-xs btn btn-success{% if not request.user.is_authenticated %} disabled {% endif %}">
                <h6>Take part</h6>
              </a>
            </td>
          </tr>
          <tr class="detail-row">
            <td colspan="8">
              <h4>{{ competition.description }}</h4>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div><!-- /.span -->
  </div><!-- /.row -->
{% endblock content %}
{% block extrascripts %}

  <script src="{% static 'js/table.js' %}"></script>

{% endblock %}
