{% extends "base.html" %}
{% load static %}

{% block title %} Create member {% endblock %}

{% block breadcrumbs %}
  <li>
    <i class="ace-icon fa fa-home home-icon"></i>
    <a href="{% url 'home-page' %}">Home</a>
  </li>
  <li>
    <a href="{% url 'competition:competition_list' %}">Competitions</a>
  </li>
  <li>
    <span>Заявка на участие</span>
  </li>
{% endblock %}
{% block content %}
  <form role="form" action="{% url 'competition:create-competition-member' competition.id %}" class="form-horizontal" method="post">
    {% for field in form %}
      <div class="form-group {% if form.errors %} has-error {% endif %}">
        <label class="col-sm-3 control-label no-padding-right">{{ field.label_tag }}</label>
        <div class="col-sm-9">
          {{ field }}
          <div style='margin-left: 15px' class="help-block col-xs-12 col-sm-reset inline">
            {% for e in field.errors %}
              {{ e }}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
    {% csrf_token %}
    <div class="clearfix">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-success">Sign up</button>
        <button type="submit" class="btn ">Cancel</button>
      </div>
    </div>
  </form>
{% endblock content %}

