{% extends "base.html" %}
{% load static %}

{% block title %} Member-list {% endblock %}

{% block breadcrumbs %}
  <li>
    <i class="ace-icon fa fa-home home-icon"></i>
    <a href="{% url 'home-page' %}">Home</a>
  </li>
  <li>
    <a href="{% url 'competition:competition_list' %}">Competitions</a>
  </li>
  <li>
    <span>Members</span>
  </li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      {% if member_list %}
        <table id="simple-table" class="table  table-bordered table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Sport category</th>
            <th>Age</th>
            <th>Trainer</th>
            <th>City</th>
            <th>Sport club</th>
            <th>Phone</th>
          </tr>
          </thead>
          <tbody>
          {% for member in member_list %}
            <tr>
              <td><h5>{{ member.name }}</h5></td>
              <td><h5>{{ member.gender }}</h5></td>
              <td><h5>{{ member.sport_category }}</h5></td>
              <td><h5>{{ member.calculate_age }}</h5></td>
              <td><h5>{{ member.trainer }}</h5></td>
              <td><h5>{{ member.city }}</h5></td>
              <td><h5>{{ member.sport_club }}</h5></td>
              <td><h5>{{ member.phone_first }}</h5></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="page-header"><h1>Nobody still has registered</h1></div>
      {% endif %}
    </div><!-- /.span -->
  </div><!-- /.row -->
{% endblock content %}
{% block extrascripts %}

  <script src="{% static 'js/table.js' %}"></script>

{% endblock %}