{% extends "base.html" %}
{% load static %}

{% block title %} Registration {% endblock %}

{% block breadcrumbs %}
  <li>
    <p>Login</p>
  </li>

{% endblock %}

{% block content %}
  <form role="form" action="{% url 'create-user' %}" class="form-horizontal" method="post">
    {% for field in form %}
      <div class="form-group {% if form.errors %} has-error {% endif %}">
      <label class="col-sm-3 control-label no-padding-right">{{ field.label_tag }}</label>
      <div class="col-sm-9">
        {{ field }}
        <div class="help-block col-xs-12 col-sm-reset inline">
          {% for e in field.errors %}
            {{ e }}
          {% endfor %}
        </div>
      </div>
      </div>
    {% endfor %}
    {% csrf_token %}
    <div class="clearfix">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-success">Sign up</button>
      <button type="submit" class="btn ">Cancel</button>
    </div>
  </div>
  </form>
{% endblock %}