{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block breadcrumbs %}
  <li>
    <i class="ace-icon fa fa-home home-icon"></i>
    <a href="{% url 'home-page' %}">Home</a>
  </li>

{% endblock %}

{% block content %}
  <div class="text-center">
    <h2>Hello! You have visited site of bouldering club FORMAT</h2>
  </div>

  <h3><div class='leftimg' id="map-canvas" style="height: 200px; width: 400px;"></div>{{ info.club_description }}</h3>
  <h4>You can find us on {{ info.address }}</h4>
  <h4>Phone: {{ info.phone_first }} или {{ info.phone_second }}</h4>
  <h4>Email: {{ info.email }}</h4>


{% endblock content %}

{% block extrascripts %}
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhJYRfwk0ftCU6ygdGtcBDJbSZzMBGfpA&sensor=false">
  </script>
  <script type="text/javascript">
    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng({{ info.latitude }}, {{ info.longitude }}),
        zoom: 17,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map-canvas"),
          mapOptions);

      var marker = new google.maps.Marker({
        position: {lat: {{ info.latitude }}, lng: {{ info.longitude }}},
        map: map,
        title: 'Format club'
      });
    }
    google.maps.event.addDomListener(window, "load", initialize);
  </script>
{% endblock %}