{% extends "base.html" %}
{% load static %}

{% block title %} Login {% endblock %}

{% block breadcrumbs %}
  <li>
    <p>Login</p>
  </li>

{% endblock %}

{% block content %}
  <form role="form" class="form-horizontal" action="{% url 'login' %}" method="post">
    <div class="form-group {% if form.errors %} has-error {% endif %}">
      <label class="col-sm-3 control-label no-padding-right">{{ form.username.label_tag }}:</label>
      <div class="col-sm-9">{{ form.username }}
        <div class="help-block col-xs-12 col-sm-reset inline">
          {% for e in form.username.errors %}
            {{ e }}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="form-group {% if form.errors %} has-error {% endif %}">
      <label class="col-sm-3 control-label no-padding-right">{{ form.password.label_tag }}:</label>
      <div class="col-sm-9">{{ form.password }}</div>
      <div class="help-block">
        {% for e in form.password.errors %}
          {{ e }}
        {% endfor %}
      </div>
    </div>
  <div class="clearfix">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-success">Login</button>
      <button type="submit" class="btn ">Cancel</button>
    </div>
  </div>
    {% csrf_token %}
  </form>
{% endblock %}