{% extends "base.html" %}
{% load static %}

{% block title %} Trainings {% endblock %}

{% block breadcrumbs %}
  <li>
    <i class="ace-icon fa fa-home home-icon"></i>
    <a href="{% url 'home-page' %}">Home</a>
  </li>
  <li>
    <span>Trainings</span>
  </li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <table id="simple-table" class="table training-table table-bordered table-hover">
        <tbody>
        {% for key, value in res.items %}
          <tr>
            <td class="table-day">{{ key }}</td>
            {% for i in value %}

              <td class="training-elem" {% if i.category == 'Low skilled' %}style="background-color: #ffb752"
                  {% elif i.category == 'Middle skilled' %}style="background-color: #6fb3e0"
                  {% elif i.category == 'High skilled' %}style="background-color: #87b87f"{% endif %}>
              {% if i %}
                <span>Category: {{ i.category }}</span><br>
                <span>Group: {{ i.group }}</span><br>
                <span>Trainer:</span><a href="{% url 'trainer:index' %}">{{ i.trainer.name }}</a><br>
                <a class="btn btn-xs btn-success" href="{% url 'training:member_add' i.id %}">Take part</a>
                <a class="btn btn-xs btn-purple" href="{% url 'training:member_list' i.id %}">Member list</a>
              </td>

              {% endif %}
            {% endfor %}

          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div><!-- /.span -->
  </div><!-- /.row -->

{% endblock content %}
