{% extends "base.html" %}
{% load static %}

{% block title %} Member-list {% endblock %}

{% block breadcrumbs %}
  <li>
    <i class="ace-icon fa fa-home home-icon"></i>
    <a href="{% url 'home-page' %}">Home</a>
  </li>
  <li>
    <a href="{% url 'training:index' %}">Trainings</a>
  </li>
  <li>
    <span>Members</span>
  </li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      {% if member_list %}
        <table id="simple-table" class="table  table-bordered table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
          </thead>
          <tbody>
          {% for member in member_list %}
            <tr>
              <td><h5>{{ member.get_full_name }}</h5></td>
              <td><h5>{{ member.email }}</h5></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="page-header"><h1>Nobody still has registered</h1></div>
      {% endif %}
    </div><!-- /.span -->
  </div><!-- /.row -->
{% endblock content %}
